.App {
  text-align: left;
}

.App-logo {
  height: 65px;
  width: 65px;
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #053437;
  min-height: 65px;
  height: 10vh;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px;
  border-color: #61dafb;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-ViewPoint {
  background-color: #053437;
  height: 80vh;
  position: relative;
}

.App-Footer {
  background-color: #053437;
  height: 10vh;
  min-height: 65px;
  color: #515454;
  /* color: antiquewhite; */
}

.Panel-Button {
  /* background-color: aquamarine; */
}